[submodule "backend"]
	path = backend
	url = https://github.com/coachpo/prism-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/coachpo/prism-frontend.git
	branch = main
